:root {
    --primary-color: #612674;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

h1 {font-size: 2.6rem;}

h2 {font-size: 2rem;}

p {font-size: 1.6rem;}

a {font-size: 1.6rem;}

li {font-size: 1.6rem;}

body {
    width: 100%;
}

/*Header*/
.header-top {
    text-align: center;
}

.header-top-image {
    margin: 1rem 0;
}

.maxWidth {
    /* max-width: 130em; */
    width: 100%;
}

.header-list {
    background-color: var(--primary-color);
    border-radius: 8px;
    text-align: center;
    list-style-type: none;
}

.header-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem 1.75rem;
}

.header-list a:hover {
    background-color: rgb(255 255 255 / .1);
}

/*Banner*/

.hero-banner {
    text-align: center;
    /* margin-top: 2.5rem; */
    background-color: #f6f6f6;
    padding: 2.5em 1em;
}

.hero-banner-iconPlay img {
    display: none;
    margin: 0 auto 1em auto;
}

.hero-banner-title {
    color: var(--primary-color);
}

.hero-banner-subtitle {
    margin-top: 1.5rem;
    color: rgb(97 38 116 / .7);
}

.hero-banner-btn {
    display: inline-block;
    color: white;
    background-color: rgb(8, 176, 176);
    text-decoration: none;
    margin-top: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 8px;
}

@media screen and (min-width: 50em) {

    .header-top {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .maxWidth {
        margin: auto;
    }

    .header-list {
        display: flex;
        position: absolute;
        right: 12px;
        top: 12px;
        background-color: transparent;
    }

    .header-list a {
        color: var(--primary-color);
    }

    .header-list a:hover {
        background-color: rgb(97 38 116 / .1);
        border-radius: 8px;
    }

    .hero-banner {
        background-color: var(--primary-color);
    }

    .hero-banner-title,
    .hero-banner-subtitle {
        color: white;
    }

    .hero-banner-title {
        margin-bottom: 1.5em;
    }

    .hero-banner-iconPlay img {
        display: block;
        width: 10rem;
        height: 10rem;
    }

    .hero-banner-btn {
        padding: 1rem 2.5rem;
    }

}