:root {
    --primary-color: #612674;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Mobile*/

h1 {font-size: 2.6rem;}

h2 {font-size: 2rem;}

p {font-size: 1.6rem;}

a {font-size: 1.6rem;}

li {font-size: 1.6rem;}

body {
    width: 100%;
}

/*Header*/
.header-top {
    text-align: center;
}

.header-top-image {
    margin: 1rem 0;
}

.maxWidth {
    /* max-width: 130em; */
    width: 100%;
}

.header-list {
    background-color: var(--primary-color);
    border-radius: 8px;
    text-align: center;
    list-style-type: none;
}

.header-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem 1.75rem;

    transition: background-color ease-in-out .2s;
}

.header-list a:hover {
    background-color: rgb(255 255 255 / .1);
}

/*Banner*/

.hero-banner {
    text-align: center;
    /* margin-top: 2.5rem; */
    background-color: #f6f6f6;
    padding: 2.5em 1em;
    padding-bottom: 5rem;
}

.hero-banner-iconPlay img {
    display: none;
}

.hero-banner-title {
    color: var(--primary-color);
    margin: 1.5em 0;
}

.hero-banner-subtitle {
    color: rgb(97 38 116 / .7);
    line-height: 1.5;
}

.hero-banner-btn {
    display: inline-block;
    color: white;
    background-color: rgb(8, 176, 176);
    text-decoration: none;
    margin-top: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 8px;
}

/*Middle Content*/
.middleContent {
    background-color: white;
    padding: 5rem 0;
    box-shadow: 0px 0.1px 4px #ccc;
}

.middleContent .maxWidth {
    text-align: center;
    margin: auto;
}

.middleContent .col a {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.middleContent .col a p {
    margin: auto;
    max-width: 90%;
    line-height: 1.5;
}

.middleContent a {
    text-decoration: none;
    color: inherit;
}

.middleContent span[class^="icon-"] {
    color: var(--primary-color);
    font-size: 4rem;
}

.middleContent-title {
    font-size: 1.25em;
    color: var(--primary-color);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 auto;
    width: 100%;
}

.col-sm-12 {
    width: 100%;
}

/*Main Content*/
.mainContent {
    padding: 4rem 2rem;
}

.mainContent {
    /*definindo a section como container*/
    container-type: inline-size;
    container-name: containerMainContent;
}

.mainContent-image {
    /*fazendo com que a div que segura a imagem não cresça, não diminua e tenha largura de 30%*/
    flex: 0 0 30%;
}

.mainContent-image img {
    width: 100%;
    border-radius: 3%;
    max-height: 312px;
}

.mainContent .row {
    row-gap: 4em;
}

.mainContent p {
    line-height: 1.2;
    padding: 1rem 0;
}

.mainContent-title {
    font-size: 2em;
    padding: 1rem 0;
    font-weight: normal;
    color: var(--primary-color);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.mainContent-text {
    flex-grow: 1;
}

/*Footer*/
.footer {
    padding: 2rem 3rem 3rem 3rem;
    background-color: #25303e;
    color: #ccc;
}

.footerTitle {
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
}

.footerContact h4 {
    font-size: 1.6rem;
    color: aliceblue;
    margin-top: 2.2rem;
}

.footerContact-links {
    display: flex;
    gap: 2em;
    margin: 1rem 0
}

.footerContact a {
    font-size: 2.25rem;
    color: white;

    transition: color ease-in-out .2s;
}

.footerContact a:hover {
    color: wheat;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (min-width: 45.5em) { /*Tablet*/

    .header-top {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .maxWidth {
        margin: auto;
    }

    .header-list {
        display: flex;
        position: absolute;
        right: 12px;
        top: 12px;
        background-color: transparent;

        transition: background-color ease-in-out .2s;
    }

    .header-list a {
        color: var(--primary-color);
        border-radius: 8px;
    }

    .header-list a:hover {
        background-color: rgb(97 38 116 / .1);
    }

    /*Banner*/
    .hero-banner {
        background-color: var(--primary-color);
    }

    .hero-banner-title,
    .hero-banner-subtitle {
        color: white;
    }

    .hero-banner-title {
        margin-bottom: 1.5em;
    }

    .hero-banner-subtitle {
        width: 85%;
        margin: auto;
    }

    .hero-banner-iconPlay img {
        display: block;
        margin: 0 auto 1em auto;
        width: 10rem;
        height: 10rem;
    }

    .hero-banner-btn {
        padding: 1rem 2.5rem;
    }

    /*Middle Content*/
    .middleContent {
        box-shadow: 0 0 0  transparent;
    }

    .col-md-6 {
        width: calc(50% - 1em);
        /*definindo largura com % menos o valor do gap*/
    }

    /*Footer*/
    .footerTitle {
        font-size: 2.5rem;
        text-align: center;
        color: aliceblue;
    }

    .footerContact h4 {
        font-size: 1.8rem;
        color: aliceblue;
    }

    .footerContact a {
        font-size: 2.55rem;
        color: white;
    }
}

@media screen and (min-width: 60em) { /*PC*/
    /*Banner*/
    .hero-banner {
        background: linear-gradient(white, var(--primary-color), white);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        aspect-ratio: 1198 / 670;

        max-height: 70vh;
        display: flex;   
        align-items: flex-end;
    }

    .hero-banner-subtitle {
        width: 85%;
        margin: auto;
    }

    .hero-banner-iconPlay img {
        width: 12.5rem;
        height: 12.5rem;
        margin: 0 auto 1em auto;
    }

    /*Middle Content*/

    .middleContent {
        box-shadow: 0 0 0  transparent;
    }

    .col-xl-3 {
        width: calc(25% - 1em);
        /*definindo largura com % menos o valor do gap*/
    }
    /*Main Content*/
    .col-xl-6 {
        width: calc(50% - 4em);
        
    }

    .mainContent .row {
        column-gap: 4em;
        justify-content: center;
    }
}

@container containerMainContent (min-width: 500px) {
    .mainContent-article {
        display: flex;
        gap: 2em;
    }
}

/*
min-width: 0        = col-sm
min-width: 48.75em  = col-md
min-width: 56.25em  = col-lg
min-width: 74em     = col-xl
*/